In [1]:
import numpy as np
import pandas as pd

In [2]:
#creating a dataframe
#creating a dataframe from list, tuple and numpy arrays
columns = ['firstca', 'secondca', 'thirdca']
ID = np.arange(1,51)
np.random.seed(2)
score = np.random.randint(5,10,150)
score = score.reshape(50,3)
df = pd.DataFrame(data = score, index = ID, columns =columns)
df
#df is a general variable name for dataframe

    firstca  secondca  thirdca
1         5         5        8
2         7         8        5
3         7         6        8
4         7         9        9
5         9         8        9
6         7         8        8
7         7         6        7
8         9         8        5
9         9         8        6
10        7         5        9
11        9         7        9
12        7         6        5
13        7         7        6
14        5         6        5
15        7         6        6
16        6         9        7
17        8         5        8
18        5         7        7
19        5         9        7
20        5         7        9
21        6         8        5
22        7         6        9
23        5         6        6
24        6         7        9
25        7         8        9
26        7         5        7
27        8         8        5
28        5         8        8
29        5         5        7
30        8         6        7
31        8         9        8
32        8         6        9
33        7         8        5
34        5         7        9
35        9         8        7
36        6         6        6
37        7         6        8
38        5         6        5
39        9         8        6
40        8         5        5
41        8         7        7
42        7         6        8
43        9         8        6
44        5         8        5
45        8         6        8
46        8         5        6
47        9         7        6
48        6         7        5
49        7         5        9
50        8         6        5

In [3]:
#basic pandas operation
#selecting a column
df['firstca']

1     5
2     7
3     7
4     7
5     9
6     7
7     7
8     9
9     9
10    7
11    9
12    7
13    7
14    5
15    7
16    6
17    8
18    5
19    5
20    5
21    6
22    7
23    5
24    6
25    7
26    7
27    8
28    5
29    5
30    8
31    8
32    8
33    7
34    5
35    9
36    6
37    7
38    5
39    9
40    8
41    8
42    7
43    9
44    5
45    8
46    8
47    9
48    6
49    7
50    8
Name: firstca, dtype: int32

In [4]:
#selecting multiple columns
df[['firstca', 'secondca']]

    firstca  secondca
1         5         5
2         7         8
3         7         6
4         7         9
5         9         8
6         7         8
7         7         6
8         9         8
9         9         8
10        7         5
11        9         7
12        7         6
13        7         7
14        5         6
15        7         6
16        6         9
17        8         5
18        5         7
19        5         9
20        5         7
21        6         8
22        7         6
23        5         6
24        6         7
25        7         8
26        7         5
27        8         8
28        5         8
29        5         5
30        8         6
31        8         9
32        8         6
33        7         8
34        5         7
35        9         8
36        6         6
37        7         6
38        5         6
39        9         8
40        8         5
41        8         7
42        7         6
43        9         8
44        5         8
45        8         6
46        8         5
47        9         7
48        6         7
49        7         5
50        8         6

In [5]:
#selecting a row using set index
df.loc[4]

firstca     7
secondca    9
thirdca     9
Name: 4, dtype: int32

In [6]:
#selecting multiple rows using set index
df.loc[[4,8,15,17,25]]

    firstca  secondca  thirdca
4         7         9        9
8         9         8        5
15        7         6        6
17        8         5        8
25        7         8        9

In [7]:
#selecting a row using default index; for default, you start counting from 0. 
#p.s the default is functional even if you set it
df.iloc[3]

firstca     7
secondca    9
thirdca     9
Name: 4, dtype: int32

In [8]:
#selecting multiple rows using default index
df.iloc[[3, 7, 14, 16, 24]]

    firstca  secondca  thirdca
4         7         9        9
8         9         8        5
15        7         6        6
17        8         5        8
25        7         8        9

In [9]:
#creating a new column using the insert method
age = np.random.randint(14,16,50).reshape(50,1)
df.insert(loc=0, column='Age', value=age)
df

    Age  firstca  secondca  thirdca
1    15        5         5        8
2    15        7         8        5
3    15        7         6        8
4    14        7         9        9
5    14        9         8        9
6    15        7         8        8
7    14        7         6        7
8    15        9         8        5
9    15        9         8        6
10   15        7         5        9
11   14        9         7        9
12   14        7         6        5
13   14        7         7        6
14   14        5         6        5
15   15        7         6        6
16   14        6         9        7
17   14        8         5        8
18   14        5         7        7
19   14        5         9        7
20   15        5         7        9
21   15        6         8        5
22   15        7         6        9
23   15        5         6        6
24   15        6         7        9
25   15        7         8        9
26   15        7         5        7
27   14        8         8        5
28   14        5         8        8
29   15        5         5        7
30   15        8         6        7
31   14        8         9        8
32   15        8         6        9
33   15        7         8        5
34   14        5         7        9
35   14        9         8        7
36   14        6         6        6
37   15        7         6        8
38   14        5         6        5
39   15        9         8        6
40   14        8         5        5
41   15        8         7        7
42   14        7         6        8
43   14        9         8        6
44   14        5         8        5
45   14        8         6        8
46   15        8         5        6
47   15        9         7        6
48   15        6         7        5
49   15        7         5        9
50   15        8         6        5

In [10]:
#creating a new column using the normal method; this method will add the new column to the end of the table
df['exams'] = np.random.randint(30,70,50).reshape(50,1)
df

    Age  firstca  secondca  thirdca  exams
1    15        5         5        8     66
2    15        7         8        5     45
3    15        7         6        8     51
4    14        7         9        9     48
5    14        9         8        9     52
6    15        7         8        8     59
7    14        7         6        7     44
8    15        9         8        5     30
9    15        9         8        6     35
10   15        7         5        9     53
11   14        9         7        9     63
12   14        7         6        5     68
13   14        7         7        6     37
14   14        5         6        5     62
15   15        7         6        6     48
16   14        6         9        7     59
17   14        8         5        8     45
18   14        5         7        7     58
19   14        5         9        7     50
20   15        5         7        9     56
21   15        6         8        5     46
22   15        7         6        9     36
23   15        5         6        6     68
24   15        6         7        9     54
25   15        7         8        9     36
26   15        7         5        7     51
27   14        8         8        5     51
28   14        5         8        8     66
29   15        5         5        7     49
30   15        8         6        7     34
31   14        8         9        8     64
32   15        8         6        9     42
33   15        7         8        5     45
34   14        5         7        9     69
35   14        9         8        7     51
36   14        6         6        6     31
37   15        7         6        8     58
38   14        5         6        5     53
39   15        9         8        6     66
40   14        8         5        5     47
41   15        8         7        7     48
42   14        7         6        8     58
43   14        9         8        6     57
44   14        5         8        5     68
45   14        8         6        8     40
46   15        8         5        6     56
47   15        9         7        6     63
48   15        6         7        5     32
49   15        7         5        9     68
50   15        8         6        5     62

In [11]:
#creating a new column 
df['totalscore'] = df['firstca'] + df['secondca'] +df['thirdca'] + df['exams']
df

    Age  firstca  secondca  thirdca  exams  totalscore
1    15        5         5        8     66          84
2    15        7         8        5     45          65
3    15        7         6        8     51          72
4    14        7         9        9     48          73
5    14        9         8        9     52          78
6    15        7         8        8     59          82
7    14        7         6        7     44          64
8    15        9         8        5     30          52
9    15        9         8        6     35          58
10   15        7         5        9     53          74
11   14        9         7        9     63          88
12   14        7         6        5     68          86
13   14        7         7        6     37          57
14   14        5         6        5     62          78
15   15        7         6        6     48          67
16   14        6         9        7     59          81
17   14        8         5        8     45          66
18   14        5         7        7     58          77
19   14        5         9        7     50          71
20   15        5         7        9     56          77
21   15        6         8        5     46          65
22   15        7         6        9     36          58
23   15        5         6        6     68          85
24   15        6         7        9     54          76
25   15        7         8        9     36          60
26   15        7         5        7     51          70
27   14        8         8        5     51          72
28   14        5         8        8     66          87
29   15        5         5        7     49          66
30   15        8         6        7     34          55
31   14        8         9        8     64          89
32   15        8         6        9     42          65
33   15        7         8        5     45          65
34   14        5         7        9     69          90
35   14        9         8        7     51          75
36   14        6         6        6     31          49
37   15        7         6        8     58          79
38   14        5         6        5     53          69
39   15        9         8        6     66          89
40   14        8         5        5     47          65
41   15        8         7        7     48          70
42   14        7         6        8     58          79
43   14        9         8        6     57          80
44   14        5         8        5     68          86
45   14        8         6        8     40          62
46   15        8         5        6     56          75
47   15        9         7        6     63          85
48   15        6         7        5     32          50
49   15        7         5        9     68          89
50   15        8         6        5     62          81

In [12]:
#creating a row from existing row
df.loc['avg'] = (sum(df['Age']/len(df)),sum(df['firstca']/len(df)),sum(df['secondca']/len(df)),sum(df['thirdca']/len(df)),
                 sum(df['exams']/len(df)),sum(df['totalscore']/len(df)))
df

       Age  firstca  secondca  thirdca  exams  totalscore
1    15.00     5.00      5.00     8.00  66.00       84.00
2    15.00     7.00      8.00     5.00  45.00       65.00
3    15.00     7.00      6.00     8.00  51.00       72.00
4    14.00     7.00      9.00     9.00  48.00       73.00
5    14.00     9.00      8.00     9.00  52.00       78.00
6    15.00     7.00      8.00     8.00  59.00       82.00
7    14.00     7.00      6.00     7.00  44.00       64.00
8    15.00     9.00      8.00     5.00  30.00       52.00
9    15.00     9.00      8.00     6.00  35.00       58.00
10   15.00     7.00      5.00     9.00  53.00       74.00
11   14.00     9.00      7.00     9.00  63.00       88.00
12   14.00     7.00      6.00     5.00  68.00       86.00
13   14.00     7.00      7.00     6.00  37.00       57.00
14   14.00     5.00      6.00     5.00  62.00       78.00
15   15.00     7.00      6.00     6.00  48.00       67.00
16   14.00     6.00      9.00     7.00  59.00       81.00
17   14.00     8.00      5.00     8.00  45.00       66.00
18   14.00     5.00      7.00     7.00  58.00       77.00
19   14.00     5.00      9.00     7.00  50.00       71.00
20   15.00     5.00      7.00     9.00  56.00       77.00
21   15.00     6.00      8.00     5.00  46.00       65.00
22   15.00     7.00      6.00     9.00  36.00       58.00
23   15.00     5.00      6.00     6.00  68.00       85.00
24   15.00     6.00      7.00     9.00  54.00       76.00
25   15.00     7.00      8.00     9.00  36.00       60.00
26   15.00     7.00      5.00     7.00  51.00       70.00
27   14.00     8.00      8.00     5.00  51.00       72.00
28   14.00     5.00      8.00     8.00  66.00       87.00
29   15.00     5.00      5.00     7.00  49.00       66.00
30   15.00     8.00      6.00     7.00  34.00       55.00
31   14.00     8.00      9.00     8.00  64.00       89.00
32   15.00     8.00      6.00     9.00  42.00       65.00
33   15.00     7.00      8.00     5.00  45.00       65.00
34   14.00     5.00      7.00     9.00  69.00       90.00
35   14.00     9.00      8.00     7.00  51.00       75.00
36   14.00     6.00      6.00     6.00  31.00       49.00
37   15.00     7.00      6.00     8.00  58.00       79.00
38   14.00     5.00      6.00     5.00  53.00       69.00
39   15.00     9.00      8.00     6.00  66.00       89.00
40   14.00     8.00      5.00     5.00  47.00       65.00
41   15.00     8.00      7.00     7.00  48.00       70.00
42   14.00     7.00      6.00     8.00  58.00       79.00
43   14.00     9.00      8.00     6.00  57.00       80.00
44   14.00     5.00      8.00     5.00  68.00       86.00
45   14.00     8.00      6.00     8.00  40.00       62.00
46   15.00     8.00      5.00     6.00  56.00       75.00
47   15.00     9.00      7.00     6.00  63.00       85.00
48   15.00     6.00      7.00     5.00  32.00       50.00
49   15.00     7.00      5.00     9.00  68.00       89.00
50   15.00     8.00      6.00     5.00  62.00       81.00
avg  14.54     6.98      6.82     6.96  51.96       72.72

In [13]:
#dropping existing rows and columns

df

In [14]:
df.drop('totalscore', axis = 1, inplace =True) #axis is 1 for column
df.drop('avg', axis =0, inplace = True) #axis is 0 for row

df

     Age  firstca  secondca  thirdca  exams
1   15.0      5.0       5.0      8.0   66.0
2   15.0      7.0       8.0      5.0   45.0
3   15.0      7.0       6.0      8.0   51.0
4   14.0      7.0       9.0      9.0   48.0
5   14.0      9.0       8.0      9.0   52.0
6   15.0      7.0       8.0      8.0   59.0
7   14.0      7.0       6.0      7.0   44.0
8   15.0      9.0       8.0      5.0   30.0
9   15.0      9.0       8.0      6.0   35.0
10  15.0      7.0       5.0      9.0   53.0
11  14.0      9.0       7.0      9.0   63.0
12  14.0      7.0       6.0      5.0   68.0
13  14.0      7.0       7.0      6.0   37.0
14  14.0      5.0       6.0      5.0   62.0
15  15.0      7.0       6.0      6.0   48.0
16  14.0      6.0       9.0      7.0   59.0
17  14.0      8.0       5.0      8.0   45.0
18  14.0      5.0       7.0      7.0   58.0
19  14.0      5.0       9.0      7.0   50.0
20  15.0      5.0       7.0      9.0   56.0
21  15.0      6.0       8.0      5.0   46.0
22  15.0      7.0       6.0      9.0   36.0
23  15.0      5.0       6.0      6.0   68.0
24  15.0      6.0       7.0      9.0   54.0
25  15.0      7.0       8.0      9.0   36.0
26  15.0      7.0       5.0      7.0   51.0
27  14.0      8.0       8.0      5.0   51.0
28  14.0      5.0       8.0      8.0   66.0
29  15.0      5.0       5.0      7.0   49.0
30  15.0      8.0       6.0      7.0   34.0
31  14.0      8.0       9.0      8.0   64.0
32  15.0      8.0       6.0      9.0   42.0
33  15.0      7.0       8.0      5.0   45.0
34  14.0      5.0       7.0      9.0   69.0
35  14.0      9.0       8.0      7.0   51.0
36  14.0      6.0       6.0      6.0   31.0
37  15.0      7.0       6.0      8.0   58.0
38  14.0      5.0       6.0      5.0   53.0
39  15.0      9.0       8.0      6.0   66.0
40  14.0      8.0       5.0      5.0   47.0
41  15.0      8.0       7.0      7.0   48.0
42  14.0      7.0       6.0      8.0   58.0
43  14.0      9.0       8.0      6.0   57.0
44  14.0      5.0       8.0      5.0   68.0
45  14.0      8.0       6.0      8.0   40.0
46  15.0      8.0       5.0      6.0   56.0
47  15.0      9.0       7.0      6.0   63.0
48  15.0      6.0       7.0      5.0   32.0
49  15.0      7.0       5.0      9.0   68.0
50  15.0      8.0       6.0      5.0   62.0

In [15]:
df.shape

(50, 5)

In [16]:
df.columns

Index(['Age', 'firstca', 'secondca', 'thirdca', 'exams'], dtype='object')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 50
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Age       50 non-null     float64
 1   firstca   50 non-null     float64
 2   secondca  50 non-null     float64
 3   thirdca   50 non-null     float64
 4   exams     50 non-null     float64
dtypes: float64(5)
memory usage: 2.3+ KB

In [18]:
df.describe()

             Age    firstca   secondca    thirdca      exams
count  50.000000  50.000000  50.000000  50.000000  50.000000
mean   14.540000   6.980000   6.820000   6.960000  51.960000
std     0.503457   1.362621   1.240309   1.497753  11.076653
min    14.000000   5.000000   5.000000   5.000000  30.000000
25%    14.000000   6.000000   6.000000   6.000000  45.000000
50%    15.000000   7.000000   7.000000   7.000000  51.500000
75%    15.000000   8.000000   8.000000   8.000000  61.250000
max    15.000000   9.000000   9.000000   9.000000  69.000000

In [19]:
df.transpose()
#to turn rows into columns and vice versa

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
Age,15.0,15.0,15.0,14.0,14.0,15.0,14.0,15.0,15.0,15.0,...,15.0,14.0,14.0,14.0,14.0,15.0,15.0,15.0,15.0,15.0
firstca,5.0,7.0,7.0,7.0,9.0,7.0,7.0,9.0,9.0,7.0,...,8.0,7.0,9.0,5.0,8.0,8.0,9.0,6.0,7.0,8.0
secondca,5.0,8.0,6.0,9.0,8.0,8.0,6.0,8.0,8.0,5.0,...,7.0,6.0,8.0,8.0,6.0,5.0,7.0,7.0,5.0,6.0
thirdca,8.0,5.0,8.0,9.0,9.0,8.0,7.0,5.0,6.0,9.0,...,7.0,8.0,6.0,5.0,8.0,6.0,6.0,5.0,9.0,5.0
exams,66.0,45.0,51.0,48.0,52.0,59.0,44.0,30.0,35.0,53.0,...,48.0,58.0,57.0,68.0,40.0,56.0,63.0,32.0,68.0,62.0

In [20]:
df['Age'].unique() #knowing most frequent values

array([15., 14.])

In [21]:
df['Age'].nunique() #number of unique values

2

In [22]:
df['Age'].value_counts() #number of values

15.0    27
14.0    23
Name: Age, dtype: int64

In [23]:
#renaming rows and columns
df.rename({'Age': 'studentage', 'firstca':'ca1', 'secondca':'ca2', 'thirdca': 'ca3', 'exams': 'exam score'}, axis =1, inplace = True)
df

    studentage  ca1  ca2  ca3  exam score
1         15.0  5.0  5.0  8.0        66.0
2         15.0  7.0  8.0  5.0        45.0
3         15.0  7.0  6.0  8.0        51.0
4         14.0  7.0  9.0  9.0        48.0
5         14.0  9.0  8.0  9.0        52.0
6         15.0  7.0  8.0  8.0        59.0
7         14.0  7.0  6.0  7.0        44.0
8         15.0  9.0  8.0  5.0        30.0
9         15.0  9.0  8.0  6.0        35.0
10        15.0  7.0  5.0  9.0        53.0
11        14.0  9.0  7.0  9.0        63.0
12        14.0  7.0  6.0  5.0        68.0
13        14.0  7.0  7.0  6.0        37.0
14        14.0  5.0  6.0  5.0        62.0
15        15.0  7.0  6.0  6.0        48.0
16        14.0  6.0  9.0  7.0        59.0
17        14.0  8.0  5.0  8.0        45.0
18        14.0  5.0  7.0  7.0        58.0
19        14.0  5.0  9.0  7.0        50.0
20        15.0  5.0  7.0  9.0        56.0
21        15.0  6.0  8.0  5.0        46.0
22        15.0  7.0  6.0  9.0        36.0
23        15.0  5.0  6.0  6.0        68.0
24        15.0  6.0  7.0  9.0        54.0
25        15.0  7.0  8.0  9.0        36.0
26        15.0  7.0  5.0  7.0        51.0
27        14.0  8.0  8.0  5.0        51.0
28        14.0  5.0  8.0  8.0        66.0
29        15.0  5.0  5.0  7.0        49.0
30        15.0  8.0  6.0  7.0        34.0
31        14.0  8.0  9.0  8.0        64.0
32        15.0  8.0  6.0  9.0        42.0
33        15.0  7.0  8.0  5.0        45.0
34        14.0  5.0  7.0  9.0        69.0
35        14.0  9.0  8.0  7.0        51.0
36        14.0  6.0  6.0  6.0        31.0
37        15.0  7.0  6.0  8.0        58.0
38        14.0  5.0  6.0  5.0        53.0
39        15.0  9.0  8.0  6.0        66.0
40        14.0  8.0  5.0  5.0        47.0
41        15.0  8.0  7.0  7.0        48.0
42        14.0  7.0  6.0  8.0        58.0
43        14.0  9.0  8.0  6.0        57.0
44        14.0  5.0  8.0  5.0        68.0
45        14.0  8.0  6.0  8.0        40.0
46        15.0  8.0  5.0  6.0        56.0
47        15.0  9.0  7.0  6.0        63.0
48        15.0  6.0  7.0  5.0        32.0
49        15.0  7.0  5.0  9.0        68.0
50        15.0  8.0  6.0  5.0        62.0

In [24]:
#creating a dataframe using csv, excel and html tables
df2 = pd.read_csv('weather_data.csv')
df2

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [25]:
df3 = pd.read_excel('weather_data.xlsx')
df3
#if you have a sheet name, you shld provide it
#excel files save with .xlsx

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [26]:
import requests
url_link = 'https://pokemondb.net/pokedex/all'
r = requests.get(url_link, headers ={'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64;x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'})
read_html_pandas_data = pd.read_html(r.text)[0]
df_pokeman = pd.DataFrame(read_html_pandas_data)

In [27]:
df_pokeman

,#,Name,Type,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,1,Bulbasaur,Grass Poison,318,45,49,49,65,65,45
1,2,Ivysaur,Grass Poison,405,60,62,63,80,80,60
2,3,Venusaur,Grass Poison,525,80,82,83,100,100,80
3,3,Venusaur Mega Venusaur,Grass Poison,625,80,100,123,122,120,80
4,4,Charmander,Fire,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...
1189,1006,Iron Valiant,Fairy Fighting,590,74,130,90,120,60,116
1190,1007,Koraidon,Fighting Dragon,670,100,135,115,85,100,135
1191,1008,Miraidon,Electric Dragon,670,100,85,100,135,115,135
1192,1009,Walking Wake,Water Dragon,590,99,83,91,125,83,109
1193,1010,Iron Leaves,Grass Psychic,590,90,130,88,70,108,104

In [28]:
#saving to external file
df_pokeman.to_csv('pokeman.csv', index=False)
df_pokeman.to_excel('pokeman.xlsx', sheet_name ='GAME', index=False)

In [29]:
with pd.ExcelWriter('POKEMANTYPE.xlsx', engine ='xlsxwriter') as writer:
    df_pokeman[df_pokeman['Type'] =='Water']. to_excel(writer, index=False, sheet_name='WATER', engine = 'xlsxwriter')
    df_pokeman[df_pokeman['Type'] =='Normal']. to_excel(writer, index=False, sheet_name='NORMAL', engine = 'xlsxwriter')
    df_pokeman[df_pokeman['Type'] =='psychic']. to_excel(writer, index=False, sheet_name='PSYCHIC', engine = 'xlsxwriter')
    df_pokeman[df_pokeman['Type'] =='Grass']. to_excel(writer, index=False, sheet_name='GRASS', engine = 'xlsxwriter')
    df_pokeman[df_pokeman['Type'] =='Fire']. to_excel(writer, index=False, sheet_name='FIRE', engine = 'xlsxwriter')